{% extends "base.html" %}


{% block title %}
F.A.Q
{% endblock %}

{% block content %}
    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Basic Questions</h5>

              <div>
                <h6>Q1: What is the purpose of the proposed smart video surveillance system?</h6>
                <p>The system is designed to enforce safety measures in closed gated communities such as smart cities, malls, and universities by tracking, monitoring, identifying, and detecting vehicles and license plates in real-time.

                </p>
              </div>

              <div class="pt-2">
                <h6>Q2: What are the primary components of the smart video surveillance system?
                </h6>
                <p>The system consists of four primary components: vehicle monitoring and data storage, an accelerated search process, real-time alerts for accidents and violations, and periodic data analysis.</p>
              </div>

              <div class="pt-2">
                <h6>Q3: How does the system work?
                </h6>
                <p>The proposed solution utilizes deep learning and computer vision techniques through a network of IP cameras to track and monitor vehicles and license plates. It employs an architecture with interconnected subsystems including camera, processing, database, alerting, searching, and analytics dashboard.

                </p>
              </div>

            </div>
          </div>

          


      </div>
    </section>

{% endblock %}
